.label{
    -fx-background-color: RED;
}

.text-field{
    -fx-background-color: orange;
    -fx-text-fill: green;
    -fx-border-width: 3px;
    -fx-border-color: blue;
}

.button{
    -fx-font-weight: bold;
    -fx-text-fill: blue
}

.button:hover{
       -fx-border-width: 3px;
        -fx-border-color: yellow;
}

#saveButton{
    -fx-background-color: orange;
}

