
.toggle-button:hover{
      -fx-border-width: 3px;
      -fx-border-color: yellow;
}

.button:hover{
       -fx-border-width: 3px;
        -fx-border-color: yellow;
}

#saveButton:hover{
    -fx-background-color: blue;
}

#deleteTableRowButton:hover{
    -fx-background-color:red;
}

